.MaximChat {
    // background: rgb(43,40,104);
    // background: linear-gradient(180deg, rgba(43,40,104,1) 0%, rgba(37,37,142,1) 15%, rgba(57,222,255,1) 100%);

    padding: 15px 0;
    height: 100%;
}

.MaximChat__message {
    float: right;
    gap: 5px;
    justify-content: end;
}

.MaximChat__bubble {
    background-color: rgb(206, 227, 246);
    padding: 10px;
    border-radius: 25px;
    border-top-right-radius: 0;

    max-width: 80%;

    text-align: right;
    padding-right: 20px;
}