.MaximHeader {
    // background: rgb(135, 130, 217);
    // background: linear-gradient(180deg, rgba(43,40,104,1) 0%, rgba(37,37,142,1) 15%, rgba(57,222,255,1) 100%);

    // background: rgb(56,9,121);
    // background: linear-gradient(180deg, rgba(56,9,121,1) 0%, rgba(149,119,213,1) 100%);

    background-color: rgb(246, 246, 246);

    padding: 15px 0;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}